* {
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
    height: 100%;
}

body, header, main, footer{
    border: 1px #000000 solid;
    margin: 0.25rem;
    min-width: 400px;
}
main{
    min-height: 200px;
    overflow: auto;
}
header, footer{
    min-height: 100px;
    overflow: auto;
}

main > div.contenido-ppal{
    float: left;
    width: 100%;
}

.header-menubar{
    margin: 0.5rem 1rem 0.5rem 1rem;
    /*position: relative;
    top: -50px;
    left: 300px;*/

}
.header-menubar ul{
    list-style: none;
}
.header-menubar li{
    float: right;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-right: 1.5em;
}
header{
    padding: 0;
    background-color: #000000;
}

header #header-logo{
    float: left;
    background-image: url(../assets/logo/logo1.png);
    height: 110px;
    width: 257px;
}

.coffee-header{
    padding: 10px;
    background-color: #000000;
    background-image: url(../assets/fotos/granosCafe.jpeg);
    height: 200px;
    width: 100%;
    /*opacity: 0.9;*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
    border: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}