/*Font Type*********************************/
@font-face {
    font-family: 'gothamblack';
    src: url('../fonts/Gotham/gotham-black-webfont.woff2') format('woff2'),
         url('../fonts/Gotham/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothammedium';
    src: url('../fonts/Gotham/gothammedium-webfont.woff2') format('woff2'),
         url('../fonts/Gotham/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambold';
    src: url('../fonts/Gotham/gotham-bold-webfont.woff') format('woff2'),
         url('../fonts/Gotham/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/***********************************************/

/* HTML5 reset for older browsers */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/***********************************************/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************************************/

* {
    padding: 0;
    box-sizing: border-box;
}
html{
	height: 100%
}
body{
	height: 100%
}
header{
    padding: 0;
    background-color: #000000;
}
main{
    min-height: 200px;
    overflow: auto;
}
main > div.contenido-ppal{
    float: left;
    width: 100%;
    min-height: 450px;
	overflow: auto;
}
footer{
	background-color: #000000;
	min-height: 100px;
	overflow: auto;
	/*
	position:absolute;
  	bottom:0;
  	left:0;
	*/
  	width:100%;
	padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    header #header-logo{
        float: right;
        background-image: url(../assets/logo/logo3_2.png);
        height: 50px;
        width: 138px;
    }
    nav{
        overflow: auto;
    }
    nav ul{
        display: none;
    }
    nav input:checked  ~ ul{
        display:block;
    }
    nav input#menu {
        display: none;
    }
    nav .menu-label {
        /*float: right;*/
        color: #ffffff;
        box-sizing: border-box;
        /*display: inline-block;*/
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        margin: 25px 0 0 15px;
        /*font-size: 25px;*/
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
    nav li {
        display: block;
        background-color: #000000;
        margin: 0;
        padding: 10px;
        list-style: none;
        /*border-bottom: 0px solid grey;*/
        font-family: gothammedium;

        /*
        float: right;
        display: block;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        margin-right: 1.5em;
        font-family: gothammedium;
        */
    }
    nav li a{
        color: #ffffff;
        text-decoration: none;
    }
    nav li a:hover{
        color: #f0a046;
    }
	footer .footer-box{
		width: 100%;
		padding: 15px;
		color: #ffffff;
		display: block;
        font-family: sans-serif;
	}
	footer .footer-box span{
		font-size: 0.9em;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header #header-logo{
        float: right;
        background-image: url(../assets/logo/logo3_2.png);
        height: 50px;
        width: 138px;
    }
    nav input#menu {
        display: none;
    }
    nav{
        overflow: auto;
    }
    nav ul{
        margin-left: 15px;
        list-style: none;
    }
    nav li{
        float: left;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        margin-right: 1.5em;
        font-family: gothammedium;
    }
    nav li a{
        color: #ffffff;
        text-decoration: none;
    }
    nav li a:hover{
        color: #f0a046;
    }

	footer .footer-box{
		float: left;
		width: 33%;
		padding: 20px;
		color: #ffffff;
        font-family: sans-serif;
	}
	footer .footer-box span{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
	}

	/*secciones index*/
	.contentfl{
		/*
		float: left;
		overflow: auto;
		padding-left: 20px;
		*/
		overflow: auto;
		padding: 20px;
	}

	.contentfl  h1{
		line-height: 5vh;
		font-size: 9vh;
		color: rgb(232, 159, 35);
		font-family: gothammedium;/*gothamblack;/*'gothamblack';*/
		margin-bottom: 0;
	}
	.contentfl  h2{
		color: #ffffff;
		font-family: gothambold;/*gothamblack;/*'gothamblack';*/
	}

	.coffee-header1{
		padding: 10px;
		background-color: #000000;
		background-size: cover;
		background-image: url(../assets/fotos/granosCafe.jpeg);
		/*height: 200px;*/
		width: 100%;
		overflow: auto;
		/*opacity: 0.9;*/
	}
	/*gothamblack;/*'gothamblack';*/
	/*
	.coffee-header1  h1{
		line-height: 5vh;
		font-size: 9vh;
		color: #ffffff;
		font-family: gothammedium;
		margin-bottom: 0;
	}
	.coffee-header1  h2{
		color: #ffffff;
		font-family: gothambold;
	}
	*/
	.transbox1{
		margin: 0px;
		/*padding: 0 20px 10px 30px;*/
		padding: 0;
		border: 1px solid black;
		background: rgba(0, 0, 0, 0.3);
		overflow: auto;
	}
	.index-logo1{
		float: left;
		background-size: cover;
		background-image: url(../assets/logo/logo1_150.jpg);
		height: 150px;
		width: 150px;
	}

	.coffee-header2{
		padding: 10px;
		background-color: #000000;
		background-size: cover;
		background-image: url(../assets/fotos/frutoCafe.jpeg);
		/*height: 200px;*/
		width: 100%;
		overflow: auto;
		/*opacity: 0.9;*/
	}
	/*
	.coffee-header2  h1{
		line-height: 5vh;
		font-size: 9vh;
		color: rgb(232, 159, 35);
		font-family: gothammedium;
		margin-bottom: 0;
	}
	.coffee-header2  h2{
		color: #ffffff;
		font-family: gothambold;
	}
	*/
	.transbox2{
		margin: 0px;
		padding: 0;
		border: 1px solid black;
		background: rgba(0, 0, 0, 0.3);
		overflow: auto;
	}
	.index-logo2{
		float: left;
		background-size: cover;
		background-image: url(../assets/logo/logo2_150.jpg);
		height: 150px;
		width: 150px;
	}


	.secciones{
		margin: 0px;
		/*padding: 0 20px 10px 30px;*/
		padding: 10px;
		/*border: 1px solid black;*/
		overflow: auto;
		min-height: 50px;
	}
	.seccbg-0{
		background: rgb(255, 255, 255);
	}
	.seccbg-1{
		background: rgba(64, 92, 81, 1);
	}
	.seccbg-2{
		background: rgba(237, 224, 207, 1);
	}
	.seccbgimg-1{
		min-height: 450px;
		background-size: cover;

		/*background: rgba(0, 0, 0, 0.3);*/
		background-image: url(../assets/fotos/paisaje2.jpeg);
	}
}



/**iconos redes sociales********/
.fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .fa-skype {
    background: #00aff0;
    color: white;
  }

  .fa-android {
    background: #a4c639;
    color: white;
  }

  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }

  .fa-vimeo {
    background: #45bbff;
    color: white;
  }

  .fa-tumblr {
    background: #2c4762;
    color: white;
  }

  .fa-vine {
    background: #00b489;
    color: white;
  }

  .fa-foursquare {
    background: #45bbff;
    color: white;
  }

  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }

  .fa-flickr {
    background: #f40083;
    color: white;
  }

  .fa-yahoo {
    background: #430297;
    color: white;
  }

  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
  }

  .fa-rss {
    background: #ff6600;
    color: white;
  }
