* {
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
    height: 100%;
}

body, header, main, footer{
    border: 1px #000000 solid;
    margin: 0.25rem;
    min-width: 400px;
}
main{
    min-height: 200px;
    overflow: auto;
}
header, footer{
    min-height: 100px;
}

main > div.contenido-ppal{
    float: left;
    width: 65%;
}

.header-menubar{
    margin: 0.5rem 1rem 0.5rem 1rem;
}
.header-menubar ul{
    list-style: none;
}
.header-menubar li{
    float: left;
    font-weight: 600;
    text-align: center;

}