/*Font Type*********************************/
@font-face {
    font-family: 'gothamblack';
    src: url('../fonts/Gotham/gotham-black-webfont.woff2') format('woff2'),
         url('../fonts/Gotham/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothammedium';
    src: url('../fonts/Gotham/gothammedium-webfont.woff2') format('woff2'),
         url('../fonts/Gotham/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambold';
    src: url('../fonts/Gotham/gotham-bold-webfont.woff') format('woff2'),
         url('../fonts/Gotham/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/***********************************************/

/* HTML5 reset for older browsers */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/***********************************************/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************************************/
/*
para menu hamburquesa
*/
/*
body {
    font-family: sans-serif;
  }

  .respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }

  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }

  .respmenu input[type="checkbox"] {
    opacity: 0;
  }

  .respmenu {
    color: white;
    position: relative;
    background: #123456;
    min-height: 48px;
  }

  .respmenu nav {
    display: none;
  }

  .respmenu input:checked ~ nav {
    display: block;
  }

  .respmenu input:checked ~ .fa-bars {
    display: none;
  }

  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
*/
* {
    padding: 0;
    box-sizing: border-box;
}
html{
	height: 100%
}
body{
	height: 100%
}
header{
    padding: 0;
    background-color: #000000;
}
main{
    min-height: 200px;
    overflow: auto;
}
main > div.contenido-ppal{
    float: left;
    width: 100%;
}
footer{
	background-color: #000000;
	min-height: 100px;
	overflow: auto;
	position:absolute;
  	bottom:0;
  	left:0;
  	width:100%;
	padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    header #header-logo{
        float: right;
        background-image: url(../assets/logo/logo3_2.png);
        height: 50px;
        width: 138px;
    }
    nav{
        overflow: auto;
    }
    nav ul{
        display: none;
    }
    nav input:checked  ~ ul{
        display:block;
    }
    nav input#menu {
        display: none;
    }
    nav .menu-label {
        /*float: right;*/
        color: #ffffff;
        box-sizing: border-box;
        /*display: inline-block;*/
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        margin: 25px 0 0 15px;
        /*font-size: 25px;*/
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }
    nav li {
        display: block;
        background-color: #000000;
        margin: 0;
        padding: 10px;
        list-style: none;
        /*border-bottom: 0px solid grey;*/
        font-family: gothammedium;

        /*
        float: right;
        display: block;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        margin-right: 1.5em;
        font-family: gothammedium;
        */
    }
    nav li a{
        color: #ffffff;
        text-decoration: none;
    }
    nav li a:hover{
        color: #f0a046;
    }
	footer .footer-box{
		width: 100%;
		padding: 15px;
		color: #ffffff;
		display: block;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header #header-logo{
        float: right;
        background-image: url(../assets/logo/logo3_2.png);
        height: 50px;
        width: 138px;
    }
    nav input#menu {
        display: none;
    }
    nav{
        overflow: auto;
    }
    nav ul{
        margin-left: 15px;
        list-style: none;
    }
    nav li{
        float: left;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        margin-right: 1.5em;
        font-family: gothammedium;
    }
    nav li a{
        color: #ffffff;
        text-decoration: none;
    }
    nav li a:hover{
        color: #f0a046;
    }

	footer .footer-box{
		float: left;
		width: 33%;
		padding: 15px;
		color: #ffffff;
		border: #ffffff solid 1px;
	}
}
