
.index-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-row-gap: 10px;
    grid-column-gap: 20px;
    */
    width: 100%;
    height: auto;
    /*grid-template-rows: 100% ;
    */
    justify-content: center;
    align-content: stretch;
    color: rgb(232,159,35); 
    font-family: 'gothamblack';
    text-align: center ; 
}

.instrucciones{
    grid-column-start: 2;
    grid-column-end: 4; 
    grid-row-start: 1;
    grid-row-end: 1; 
    text-align: center;  
    color: black; 
}

.video{
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 1;
    grid-row-end: 1; 
    text-align: center;
}

/*.instrucciones:hover{
    font-size: larger; 
}*/

.datos{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    /*grid-row-gap: 10px;
    grid-column-gap: 20px;
    */
    width: 100%;
    height: auto;
    /*grid-template-rows: 100% ;
    */
    justify-content: center;
    align-content: stretch;
    color: rgb(232,159,35); 
    font-family: 'gothamblack';
    text-align: center ; 
}

.grid-item{
    text-align: center;
    color: black;
    font-family: 'gothamblack';

}

.presentacion-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'gothambold'
}

.presentacion{
    grid-column-start: 1;
    grid-column-end: 3; 
    text-align: center; 
    padding: 20px;
}

.foto-soporte{
    grid-column-start: 3;
    grid-column-end: 4; 
   
}

.presentacion:hover{
    font-weight: bolder;
}

.foto-soporte:hover{
    transform: rotate(-10deg);
    
}

@media (max-width: 522px){
    .index-container{
        grid-template-rows: 1fr 1 fr ;
        grid-template-columns: 1fr  ;
        text-align: center;
        justify-content: center;      
    }

    .instrucciones{
        grid-row-start: 2;
        grid-row-end: 3;         
        grid-column-start: 1;
        grid-column-end: 1;
        text-align: center;  
        justify-content: center; 
        width: 100%;
    }
    .video{
        grid-row-start: 1;
        grid-row-end: 2; 
        grid-column-start: 1;
        grid-column-end: 2; 
        text-align: center;
        justify-content: center;
    }

    .presentacion-container{
        display: inline-grid;
        grid-template-columns: 1fr ;
        font-family: 'gothambold'
    }
    
    .presentacion{
        grid-column-start: 1;
        grid-column-end: 2; 
        text-align: center; 
    }

    .foto-soporte{
        grid-column-start: 1;
        grid-column-end: 2; 
        text-align: right;
       
    }

    .instrucciones:hover{
        text-align: center; 
    }

}