@import url('http://fonts.cdnfonts.com/css/gotham');

*{
    font-family: 'Gotham', sans-serif;
}

/****************** Barra superior *********************/
    :root{
        --alturaTopNav:2em;
    }

    .top-nav{
        height: var(--alturaTopNav);
        background-color: #E99F24;
        width: auto;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .top-nav img{
        height: 2em;
    }

    .top-nav a:hover{
        background-color: gold;
    }

    .link-inicio{
        display: flex;
        align-items: center;
    }
    
/********************** Footer *******************/
    footer{
        width: 100%;
        margin-top: 1em;
        background-color: black;
        color: whitesmoke;
        font-style: italic;
    }

    /*Alineamiento*/
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    /*posicion*/
    footer{ 
        position: fixed;
        bottom: 0;
    }

/*************** Contenido Principal *************/
    body{
        margin: 0;
        display: grid;
        grid-template-rows: fit-content auto;
        grid-template-areas:
            "header"
            "content"
        ;
    }

    .header{
        grid-area: header;
        text-align: center;
    }


