@import url('./assets/fonts/Gotham/index.css');
@import url('./assets/styles/iconos.css');
@import url('./assets/styles/headers.css');

:root{
    --alturaTopNav: 4em;
    --color-primario: #E99F24;
    --color-secundario: black;
    --color-terciario: #405D51;
}

    * {
        font-family: 'Gotham', sans-serif;
    }

    html{
        background-color: black;
    }

    header{
        padding-top: var(--alturaTopNav);
    }

    /*************** Contenido Principal *************/
    body{
        margin: 0;
        background: linear-gradient(
            rgba(255,255,255,.5)
            , rgba(255,255,255,.5)
        ), url('./assets/img/tramas/trama.png');
    }

/***************** Varios ***************/
    input[type="submit"]{
        cursor: pointer;
    }


/****************** Barra superior *********************/
    .top-nav{
        position: fixed;
        top: 0;    
        z-index: 2;
        height: var(--alturaTopNav);
        background-image: url("./assets/img/topnav.jpg");
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo-top-nav{
        width: 190px;
        border: 1px solid black;
        border-radius: 20px;
    }

    nav.top-nav input#menu {
        display: none;
    }

    nav.top-nav ul{
        margin-left: 15px;
        list-style: none;
    }
    nav.top-nav li{
        float: left;
        font-weight: 700;
        font-size: 0.9em;
        text-align: center;
        margin-right: 1.5em;
        font-family: gothammedium;
    }

    nav.top-nav li {
      text-align: left;
    }

    nav.top-nav li a{
        color: #ffffff;
        text-decoration: none;
    }
    nav.top-nav li a:hover,
    nav.top-nav li a.lnkactive{
        color: #f0a046;
    }


    /*Footer *************/
    footer{
        background-color: #000000;
        min-height: 100px;
        overflow: auto;
        width:100%;
        margin-top: 15px;
        color: #ffffff;
    }

@media only screen and (min-width: 600px) {
    footer{
        display: flex;
        justify-content: space-around;
    }

    footer .footer-box{
        float: left;
        width: 30%;
        padding: 20px;
        font-family: sans-serif;
    }

    footer .footer-box span{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 768px){
    /*Footer ***************************************/

    footer .footer-box{
        width: 100%;
        padding: 15px;
        display: block;
        font-family: sans-serif;
    }

    footer .footer-box span{
        font-size: 0.9em;
    }

    /*Top-nav ***************************************/
    @keyframes deslizar-derecha-aparecer {
        0% {
            position: absolute;
            right: -600px;
        }
  
        100% {
            right: 0;
        }
    }
    
    /*
    @keyframes deslizar-derecha-desaparecer {
        0% {
            position: absolute;
            right: 0;
        }
        99% {
            right: -600px;
        }

        100%{
            display: none;
        }
    }*/

    /**********/
    
    .menu-label {
        cursor: pointer;
        /*float: right;*/
        color: #ffffff;
        background-color: var(--color-primario);
        box-sizing: border-box;
        /*display: inline-block;*/
        /*border: 1px solid black;*/
        border-radius: 5px;
        width: 35px;
        height: 35px;
        margin: 5px 0 0 15px;
        /*font-size: 25px;*/
        line-height: 35px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }

    .menu-label:hover {
        background-color: #f6af5d;
    }

    .top-nav input:checked ~ .menu-label{
        background-color: #f6af5d;
    }

    .top-nav ul{
        display:flex;
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        margin-top:0;
        top: var(--alturaTopNav);
        right: 0px;
        z-index: 1;
        background-color: #000000;
        height: 100%;
    }
    
    nav.top-nav input:not(:checked) ~ ul{
        /*animation: deslizar-derecha-desaparecer 550ms 1;*/
        display: none /*Esto no deja la animacion*/
    }
    
    nav.top-nav input:checked ~ ul{
        animation: deslizar-derecha-aparecer 500ms 1;
    }
    
    .top-nav li {
        margin: 0;
        padding: 10px;
        list-style: none;
        font-family: gothammedium;
        text-align: left;
    }
}