.blends-container{
    margin: 2em auto 1em;
    display: inline-grid;
    grid-template-columns: repeat(2,auto);
    /*grid-row-gap: 10px;
    grid-column-gap: 20px;
    */
    width: 100%;
    height: auto;
    /*grid-template-rows: 100% ;
    */
    justify-content: space-evenly;
    align-content: stretch;
    color: rgb(232,159,35); 
    font-family: 'gothamblack';
    text-align: center ; 
}

.blend1{
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 1;
    grid-row-end: 1;
}

.blend2{
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 1;
}

.blend1:hover{
    transform: scale(1.1,1.1) ;
    grid-column-start: 1;
    grid-column-end: 1; 
}

.blend2:hover{
    transform: scale(1.1,1.1);
    grid-column-start: 2;
    grid-column-end: 2; 
}

.contenido-ppal{ /*Agrego esto para que cuando se transformen las imagenes no afecte al main*/
    overflow: hidden;
}

.blend--img{
    border: 1px solid black;
    border-radius: 20px;      
}

@media (max-width: 768px){
    .blends-container{
        grid-template-columns: repeat(1,auto);
        row-gap: 20px;
    }

    .blend1{
        grid-column-start: 1;
        grid-column-end: 2; 
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .blend2{
        grid-column-start: 1;
        grid-column-end: 2; 
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .blend1:hover{
        transform: scale(1.1,1.1);
        grid-column-start: 1;
        grid-column-end: 1; 
    }
    
    .blend2:hover{
        transform: scale(1.1,1.1) ;
        grid-column-start: 1;
        grid-column-end: 1; 
    }
}

.coffee-header1{
    background-size: cover;
    background-image: url(../assets/img/fotos/origenes.png);
}